<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="nugetDirectory" value="X:\nuget" /><!-- folder containing nuget.exe -->
    <add key="outputDirectory" value="X:\nuget\tmp\nupkg" /><!-- folder in which the .nupkg will be generated -->
    <add key="publishDirectory" value="\\prnas02\35\CST\01- Commun\00 - Coordination Technique\09 - Nuget" /><!-- folder in which the .nupkg generated will be published -->
  </appSettings>
</configuration>
